body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

.inner-page {
  color: #000000;
  background-color: #fefefe;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;
  font-size: 21px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #604e43;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.main-header {
  position: relative;
}

.main-header__logo {
  position: absolute;
  left: 50%;
}

.main-nav {
  font-size: 14px;
  color: #000000;
  background-color: #ffffff;
}

.site-nav {
  display: flex;
  /* width: 1054px; */
  margin: 0;
  padding: 20px 73px;
  list-style: none;
}

.site-nav li {
  width: 240px;
}

.site-nav li:nth-child(3),
.site-nav li:nth-child(4) {
  width: auto;
  margin-left: auto;
}

.site-nav a {
  color: #000000;
}

.site-nav a:hover,
.site-nav a:focus {
  color: #81b3d2;
}

.site-nav a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-nav__link--current {
  color: #766357;
}

.intro {
  margin-bottom: 50px;
  text-align: center;
  background-color: #606164;
  background-image: url("../img/intro-background.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.reasons {
  display: flex;
  flex-direction: column;
}

.reasons__title {
  width: 576px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 25px;
  font-size: 21px;
  text-align: center;
}

.reasons__subtitle {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 50px;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
}

.reasons-item,
.reasons__recommendation-item {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}

.reasons__recommendation-item {
  width: 400px;
}

.reasons-item {
  display: flex;
  margin: 0;
  padding: 0;
}

.reasons-item__wrapper {
  width: 400px;
  color: #ffffff;
  background-color: #81b3d2;
}

.reasons-item__title,
.reasons__recommendation-title {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  padding-top: 40px;
  font-size: 21px;
  font-weight: 700;
}

.reasons__recommendation-text {
  width: 285px;
  margin: 0 auto;
  padding: 0;
}

.reasons__list {
  display: flex;
  order: 2;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #eeeeee;
}

.reasons__list .reasons-item {
  flex-direction: column;
  width: 400px;
  padding-bottom: 57px;
}

.reasons__item--bridge {
  order: 2;
}

.reasons-item__descr {
  width: 270px;
  margin: 0 auto;
  margin-top: 20px;
}

.reasons__item--true-town .reasons-item__descr {
  width: 290px;
}

.reasons__item--bridge .reasons-item__descr {
  width: 320px;
}

.reasons__recommendations-list {
  display: flex;
  order: 1;
  margin-bottom: 75px;
  list-style: none;
}

.search {
  padding-top: 50px;
  text-align: center;
}

.search__appeal {
  font-size: 30px;
  line-height: 36px;
}

.search__descr {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}

.search__button {
  padding: 20px 140px 20px 130px;
  color: #ffffff;
}

.search-form fieldset,
.filters-form fieldset {
  border: none;
}

.search-form label {
  font-size: 14px;
}

.search-form__button {
  color: #ffffff;
  background-color: #81b3d2;
}

.filters {
  padding: 25px 73px;
  line-height: 21px;
  color: #ffffff;
  background-color: #40759f;
  background-image: url("../img/filter-background.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filters-form {
  display: flex;
}

.infrastructure {
  width: 241px;
}

.accommodation {
  width: 288px;
}

.infrastructure__list,
.accommodation__list {
  list-style: none;
}

.filters-form legend {
  font-size: 16px;
}

.filters-form label {
  font-size: 14px;
  font-weight: 400;
}

.filters-form__button {
  align-self: flex-start;
  width: 133px;
  margin-left: auto;
  font-size: 14px;
  font-weight: 400;
  background-color: transparent;
  border: 2px solid #ffffff;
}

.filters-form__button:hover,
.filters-form__button:focus,
.filters-form__button:active {
  color: #000000;
  background-color: #ffffff;
}

.sorting {
  display: flex;
  padding: 25px 73px;
}

.sorting__count {
  margin-right: 44px;
  font-size: 21px;
}

.sorting__title {
  margin-right: 44px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sorting__list {
  display: flex;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  list-style: none;
}

.sorting__link {
  margin-right: 33px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sorting__link--active {
  color: #81b3d2;
  border-bottom: none;
}

.result {
  padding: 0 73px;
}

.result__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.result__item {
  padding: 30px 0;
}

.hotel {
  display: flex;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.hotel__image {
  margin-right: 30px;
}

.hotel__rating {
  margin-left: auto;
}

.hotel__title {
  margin: 0;
  margin-bottom: 7px;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.hotel__descr {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.hotel .button {
  padding: 7px 20px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}

.more-detailed-button {
  background-color: #81b3d2;
}

.more-detailed-button:hover,
.more-detailed-button:focus {
  background-color: #669ec0;
}

.more-detailed-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  padding-left: 130px;
}

.hashtag {
  width: 190px;
  margin: 0;
  font-size: 21px;
}

.footer-social-list {
  display: flex;
  width: 170px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social-list li {
  margin-right: 5px;
}

.copyright__text {
  font-size: 14px;
  font-weight: 400;
}
